<h2>CineHerd <span class="about_text1" >(pronounced <en>"seen-heard"</en>)</span>
<h4>...the easiest way to share & find the world's best Cinemagraphs.
</h4>
<hr>
<div class="about_body">
  <p class="about_h4">The Cinemagraph is the photograph of the future.   It captures one single moment in time but with some extra, subtle flare that brings that moment alive more than a photograph ever could!
  </p>

  <p class="about_h4"><%= link_to "Dan", "https://github.com/danapczynski" %>, <%= link_to "Chae", "https://github.com/ChaeOkay" %>, <%= link_to "Lloyd", "https://github.com/llnimetz" %>, and <%= link_to "Luisa", "https://github.com/LBeck" %> were searching for cinemagraphs online one day and realized that there wasn't yet a site that made them it easy to find.   So we decided to build our own, tapping into the power of crowdsourcing and the social wed (a.k.a. 'herds') to do so.</p>

  <p>We built this app in just a few days and plan to add features so stay tuned for updates.
  </p>
</div>
