<h1>Cinemagraphs...</h1>
<hr>
<h2>....are the images of the future.....</h1>
<h4>Well, that's at least what Dan, Lloyd, Chae and Luisa think.</h4>
<h4> We built this app in just a few days and plan to add features. Stay tuned for updates. </h4>