
<div>
  <h1> All Posts</h1>
  <ul>
<% @posts.each do |post| %>
<li><%= link_to post.title, post_path(post.id) %></li>
 <% end %>
  </ul>
</div>

<% if logged_in? %>
  <%= link_to "Create new post" , new_post_path%>
<% end %>
