.my_container {
  margin-top: 80px;
}

.signup-form {
  margin-left:200px;
  text-align: center;
}

.form-heading{
  text-align: center;
}

/* cinemagraph */

.post-description {
  float:right;
  margin-right:20%; 
  margin-top:10%;
  /*text-align: center;*/
}

.cinemagraph {
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: black;
}

.cinemagraph-img {
  margin-top:20px;
  margin-bottom:20px;
}

ul{
  padding-left: 0px;
}


.white {
  color:white;
}

.comment {
  margin-left: 50px;
}

.add-comment{
  margin-left: 70px;
}


/*.modal-body {
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  border: solid 2px;
}*/